flet
flet-cli
flet-desktop
flet-web
google-genai
numpy
PyAudio
PyChromecast
requests
vosk
webrtcvad
lyricsgenius
beautifulsoup4
fastmcp
schedule
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
faster-whisper